.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #333;
    /* background-color: #054dc0; */
    color: white;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbar-links {
    display: flex;
    gap: 1rem;
}

.navbar-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.navbar-link:hover {
    text-decoration: underline;
}

.logout-button {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.logout-button:hover {
    text-decoration: underline;
}
